beautifulsoup4
clld_cognacy_plugin
clld_glottologfamily_plugin
clld
clldmpg
clldutils
PasteScript
pycldf
pyramid
pytest
pytest-clld
pytest-mock
pytest-cov
SQLAlchemy
Unidecode
waitress
zope.interface
zope