clld_glottologfamily_plugin==4.0.0
waitress==1.4.4
Unidecode==1.1.1
clld==7.2.0
SQLAlchemy==1.3.17
zope.interface==5.1.0
pyramid==1.10.4
pycldf==1.14.1
clldutils==3.5.2
pytest==5.4.3
beautifulsoup4==4.9.3
clld_cognacy_plugin==0.2.1
PasteScript==3.2.0
zope==5.1.2
